body{
    margin:0;

}
h1{
    margin:0;
}
.container{
    background-color: lightblue;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   flex-wrap: wrap;
   align-content: flex-start;
   gap:10px;
}
.one,.two,.three {
    width:300px;
    height: 200px;
    background-color: orange;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    flex-shrink: 1;
    flex-grow: 2;

}
h2{
    margin:0;
}
.container2{
    background-color: aquamarine;
    height:700px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    align-content: center;
    gap: 10px 20px;
}
.four,.five,.six{
    width:300px;
    height: 200px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 2;
    
}
.six{
    order:-1;
}
.five{
    flex-basis: 200px;
}