body{
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > div{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: blueviolet;
    

}
.box-1,.box-2,.box-3{
    animation: loader 3s linear 0.1s infinite;
    
}
.box-2{
    animation-delay: 0.2s;
}
.box-3{
    animation-delay: 0.3s;
}
@keyframes loader{
    0%{
        transform: translateY(-200px);
        background-color: aqua;
    }
    50%{
        transform: translatey(200px);
    }
    100%{
        transform: translateY(-200px);
    }
}