body{
    margin: 100px;
}
.container{
 background-color: aquamarine;
 width: 500px;
 height: 400px;
}
.box{
 background-color: blue;
 width: 50px;
 height: 50px;
 transition-property:transform ;
 transition-duration: 500ms;
 transition-timing-function:ease-in-out ;
 transition-delay: 1000ms;
}
.trancelate{
  transform: translateX(10vw) translateY(10vh);
}
.term{
    width: 200px;
    height: 200px;
    background: red;
    transition-duration: 2s;
    transition-property: background,transform;
    transition-timing-function:ease;
}
.term:hover {
background: blue;
transform: rotate(45deg);
}
.one{
    background-color: palevioletred;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    transition: all 2s linear 1s;


}
.one:hover {
    transform:scale(1.6) ;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.square{
    width: 200px;
    height: 200px;
    background-color: plum;
    margin: 8px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition-property: box-shadow,transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);

}
.square:hover {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
  }

  .linear{
    width: 150px;
    max-height:100px;
    background-color: cadetblue;
    border-radius: 8px;
    text-align: center;
    padding:8px;
    margin-bottom: 4px;
    transition-property: width;
    transition-duration:1s;
    transition-timing-function: linear;

  }
  .linear:is(:hover, :focus){
    width: 50%;
  }