.container{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto  auto auto;
    grid-template-areas: 
    "left-content . ."
    "left-content main-content main-content"
    ". main-content main-content";
    column-gap: 5px;
    row-gap: 5px;    

}
.item{
 padding: 20px;
 color: rgb(36, 5, 5);
 font-size: 30px;
 
}

.item-side{
    background: brown;
     grid-area: left-content;
}
.item3{
    background: red;
}
.item2{
    background: green;
    
}
.item-big{
    grid-area: main-content;
    background: blueviolet;
}
