.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 200px auto;
}
.item{
 padding: 20px;
 color: white;
 font-size: 30px;
 border: 2px solid white;
}
.item1{
    background: blue;
}
.item2{
    background: brown;
}
.item3{
    background: red;
}
