
.main{
    position: relative;
    background-color: aqua;
    width: 300px;
    height: 200px;
    
    
}
.child{
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 50px;
    left:20px;
}
.sidebar{
    position: absolute;
    left: 0px;
    bottom:50px;
    width: 200px;
    height: 100px;
    background-color: cadetblue;


}
.container{
    position: absolute;
    top: 100px;
    left: 50%;
    background-color: aquamarine;
    border-radius: 5px;
   width: 600px;
   height: 300px;
}
